

div {
   margin: 10px 10px 10px 10px; 
            
   height: 120px;
   width: 120px; 
            
   background-color: red; 
            
   transition: transform 3s;
}


div:hover, div:selected {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
}



