

div {
margin: 10px 10px 10px 10px; height: 50px;
width: 50px; background-color: red; transition: transform 3s;
}
div:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }



