

div {
   
   margin: 10px 10px 10px 10px; 
            
   height: 120px;
   width: 120px; 
            
   background-color: red;
   
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;   
            
   transition: transform 3s;
}


div:hover {
   
   transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
}



